<ul class="list">
    @foreach (var user in Model)
    {
        if (user.UserName != ViewBag.CurrentUser.UserName)
        {
            <li class="clearfix" id="chat_user_@user.UserName">
                <img src="@Url.Content("~/Content/Icons/"+ user.Picture)" class="round-image-40">
                <div class="about">
                    <div class="name">@user.UserName</div>
                    <div class="status">
                        <span id="status-icon-@user.UserName" class="fa fa-bullseye offline"></span><span id="status-user-@user.UserName">offline</span>
                    </div>
                </div>
                <div id="battle-btn-@user.UserName" data-toggle="modal" data-target="#waitModal" onclick="challengeToFight('@user.UserName')" class="btn btn-success btn-xs start-battle" style="display: none">Battle</div>
            </li>
        }
    }
</ul>
